package nz.co.doltech.databind.reflect;

/**
 * Used to register all classes in {@link Reflected},
 * call {@link #register()} before binding fields.
 */
public class ReflectionRegistry {

    public static void register() {
#foreach($reflectClass in $reflectClasses)
        Reflections.registerClass(new ${reflectClass}());
#end
    }
}